name: Application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  code-style:
    name: Code Style & Static Analysis
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        php:
          - 8.1
          - 8.2
          - 8.3
        experimental: [ false ]
        include:
          -   php: '8.4'
              experimental: true
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, pcntl, curl, zip

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Check code style
        run: composer linter:check

      - name: Track avoidable bugs
        run: composer phpstan:analyze

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        php:
          - 8.1
          - 8.2
          - 8.3
        experimental: [ false ]
        include:
          - php: '8.4'
            experimental: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, pcntl, curl, zip
          coverage: pcov

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run tests
        run: vendor/bin/pest --testsuite='Unit tests' --coverage --coverage-clover=coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        php:
          - 8.1
          - 8.2
          - 8.3
        experimental: [ false ]
        transport:
          - "php://localhost?size=10000"
          - "redis://localhost?size=10000&trimInterval=0.5&pingInterval=0"
          - "redis://localhost?size=10000&trimInterval=0.5&pingInterval=0.1"
          - "redis://localhost?size=10000&trimInterval=0.5&pingInterval=0.1&readTimeout=2"
        include:
          - php: '8.4'
            experimental: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, pcntl, curl, zip
          coverage: pcov

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run tests
        env:
          TRANSPORT_DSN: ${{ matrix.transport }}
        run: vendor/bin/pest --testsuite='Integration tests'

